<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">首页</a>
    </div>

    <ul class="nav navbar-nav navbar-right text-right">
        <li>{{#link-to 'feedback'}}<span class="glyphicon glyphicon-plus"></span> 反馈问题{{/link-to}}</li>
        <li>{{#link-to 'list'}}<span class="glyphicon glyphicon-plus"></span> 反馈列表{{/link-to}}</li>
    </ul>
</nav>

<div id="main" class="container case">
    {{outlet}}
</div>