<div class="row">
    <div class="col-md-12">
        <h3>Ember 框架实践</h3>
        
        <p>
            Ember 是一个客户端的 JavaScript MV* 框架，用来构建 web 应用，它依赖于 jQuery 和 Handlebars 库，Ember 可以为你完成很多事情，
            如果你遵循它的命名约定的话。以下为 Ember 的四个核心概念：</p>
        
        <ol>
            <li>模型</li>
            <li>路由</li>
            <li>控制器</li>
            <li>模板</li>
        </ol>
    </div>
</div>